---
import Layout from "../layouts/Layout.astro";
import Masthead from "../components/Masthead.astro";
import AnchorNav from "../components/AnchorNav.astro";
import Hero from "../components/Hero.astro";
import Features from "../components/Features.astro";
import Quickstart from "../components/Quickstart.astro";
import Architecture from "../components/Architecture.astro";
import Dashboard from "../components/Dashboard.astro";
import Observability from "../components/Observability.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <Masthead />
  <AnchorNav />
  <main id="main">
    <Hero />
    <Features />
    <Quickstart />
    <Architecture />
    <Dashboard />
    <Observability />
  </main>
  <Footer />
</Layout>
